* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #CCEBCF;
    padding: 0.5rem 1.5rem;
    z-index: 1000;

    .login-button {
        color: rgb(240, 227, 49);
    }
}

// .wrapper {
//     margin: 0 auto;
//     width: 100%;
//     max-width: 1200px;
// }


// HEADER SECTION
.heading {
    height: 100vh;

    .hand {
        // position: absolute;
        right: -50px;
    }

    & .bg {
        position: absolute;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

    &__text {
        position: absolute;
        color: #CCEBCF;
        font-size: 5rem;
        line-height: 5rem;
        text-transform: uppercase;
        top: 50%;
        padding-left: 1.5rem;
        transform: translateY(-50%);
    }
}

// FIRST : GOAL-SECTION 
.goal {
    min-height: 100vh;

    &__section {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        padding: 0.5rem 1.5rem;
        background-color: #101805;
        color: #CCEBCF;
        z-index: 2;

        & h3 {
            font-weight: bold;
            // font-size: 4.8rem;
            font-size: 2.8rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    &__img {
        height: 10rem;
        width: 10rem;
        object-fit: cover;
        border-radius: 100%;
    }

    &__item {
        margin: 3rem 0;

        // &-first {
        //     // position: relative;
        // }

        &-second {
            text-align: right;
        }

        &-circles {
            width: 100%;
            // margin: 2rem 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

}

// KULE
.ball {
    border-radius: 100%;

    &__small {
        height: 3rem;
        width: 3rem;
        background-color: #405C1D;
    }

    &__big {
        height: 6rem;
        width: 6rem;
        background-color: #405C1D;
    }
}





@media (max-width: 320px) {
    .goal__section {
        height: 100%;
    }

    .goal__item-text {
        h3 {
            font-size: 1.8rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .goal__item-circles {
        margin: 1rem 0;
    }

    .goal__img {
        height: 8rem;
        width: 8rem;
    }

    .ball__big {
        height: 6rem;
        width: 6rem;
    }

    .ball__small {
        height: 4rem;
        width: 4rem;

    }
}

@media (min-width: 768px) {
    nav {
        padding: 0.5rem 4.5rem;
    }

    // header
    .heading {

        &__text {
            font-size: 10rem;
            line-height: 9rem;
            padding: 0.5rem 4.5rem;
        }
    }

    // GOAL
    .goal {

        &__item {
            &-circles {
                .ball__small {
                    width: 6rem;
                    height: 6rem;
                }

                .ball__big {
                    width: 11rem;
                    height: 11rem;
                }

                .goal__img {
                    width: 16rem;
                    height: 16rem;
                }
            }
        }

        &__section {
            padding: 3.5rem 4.5rem;

            & h3 {
                font-size: 3.8rem;
            }

            p {
                font-size: 1.6rem;
            }
        }
    }
}

@media (min-width: 992px) {
    .goal {

        &__item {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            & h3 {
                font-size: 4rem;
            }

            & p {
                font-size: 1.4rem;
            }


            &-first {
                .goal__item-text {
                    grid-column: 1/4;
                }

                .goal__item-circles {
                    grid-column: 4/7;

                }
            }

            &-second {
                .goal__item-text {
                    grid-column: 4/7;
                }

                .goal__item-circles {
                    grid-column: 1/4;
                    grid-row: 1/2;


                }
            }

            // // ball div
            // &-circles {
            //     .ball__small {
            //         width: 6rem;
            //         height: 6rem;
            //     }

            //     .ball__big {
            //         width: 11rem;
            //         height: 11rem;
            //     }

            //     .goal__img {
            //         width: 16rem;
            //         height: 16rem;
            //     }
            // }
        }

    }
}

// @media (max-width: 375px) {}